.idea/
env/
*/__pycache__/

.env
app/__pycache__/
app/database/__pycache__/*
__pycache__/*
sqlite.db
app/api/__init__.py
app/api/__pycache__/*
app/schemas/__init__.py
app/schemas/__pycache__/
app/service/__pycache__/
app/service/__init__.py
